* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  overflow: hidden;
}

.container {  
  width: 150px;
  height: 30px;
}

.container .slide .item {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.slide .item:nth-child(3) {
  left: 50%;
}

.slide .item:nth-child(4) {
  left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
  left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content {
  position: relative;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}

.slide .item:nth-child(2) .content {
  display: flex;
}

.content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
  from {
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }
  to {
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background: linear-gradient(to right, #9796f0, #fbc7d4) ;
}

.icon {
text-decoration: none;
padding: 10px;
color: whitesmoke;
margin: 10px;
border-radius: 50%;
border: 3px solid transparent;
outline: none;
}

.icon:hover {
border: 3px solid white;
color: #9796f0;
transition: 0.5s;
}

.icon i {
font-size: 1.6em;
color: white;
margin: 0;
padding: 0;
}

.footer {
  width: 100%;
  padding: 70px 30px 20px;
}

.email {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  background: transparent;
  display: inline;
}

.email a{
text-decoration: none;
color: white;
}
.email a:hover {
color: #7877c5;
}

.copyright {
color: white;
text-align: center;
padding-top: 5px;
padding-bottom: 20px;
line-height: 15px;

}

@media (max-width: 768px) {
.icons {
flex-wrap: wrap;
justify-content: center;
}
}

.icon {
margin: 5px;
}

.icon i {
font-size: 1.2em;
}

.email h4 {
font-size: 14px;
}

.copyright h5 {
font-size: 12px;
}
